<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AsiaMall</title>
    <style>
        .myBody{
            margin-left: 42%;
            margin-top: 10%;
        }

        .header{
            border: 3px solid black;
            height: 80px;
            width: 1000px;
            border-radius: 15px;
            margin: auto;
        }

        .amButton{
            margin-left: 235px;
            font-size: 40px;
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <div class="header">
        <button class="amButton">AsiaMall</button>
        <button style="font-size: 30px;">Bishkek Park</button>
        <button style="font-size: 30px;">ЦУМ</button>
        <button style="font-size: 30px;">Vefa</button>
    </div>


    <div class="myBody">
        <a  th:each="market : ${asiaMallMarkets}" th:href="${market.marketUrl}">
            <h2 class="listMarkets" th:text="${market.marketName}"></h2>
        </a>
    </div>


</body>
</html>